<SCRIPT LANGUAGE="JavaScript">
    alert("Welcome to Movie Review Sentiment Analyzer developed by Writuparna Banerjee");
</SCRIPT>





{% extends "base.html" %}

{% block section %}


			<div class="offset-md-2 col-md-8">

                        <h2 class="lead text-md-center" >Search for any movie</h2><br>
                        <form class=" form"   method="post" action="/search_validation">
                            <input type="text" class="form-control" name="text" ><br>
                            <input type="submit" class="btn btn-danger btn-block" value="Search">
                        </form>


                    </div>


                </div>

            </div>





{% endblock %}